<div class="center">
    <h2><center>Basic calculator</center></h2>
<form action="result">
    <center><input type="number" name = "number1" placeholder="Enter the first number"></center>
    <br>
    <br>

    <center><input type="number" name = "number2" placeholder="Enter the Second number"></center>
    <br>    
    <br>
    <center> <button type="submit" name="add">Add</button>  &nbsp; &nbsp;  
    <button type="submit" name="subtract">Subtract</button> &nbsp; &nbsp;   
    <button type="submit" name="multply">Multply</button> &nbsp; &nbsp;   
    <button type="submit" name="divide">Divide</button> &nbsp; &nbsp;   </center>

</form>
</div>

<style>
.center
    {
        margin :auto;
        width: 60%;
        border: 3px solid aqua;
        padding : 10px;
    }
</style>